@mixin font-face($name, $file, $weight: 400, $style: normal) {
    @font-face {
        font-family: "#{$name}";
        src: local("#{$file}"),
        url("./fonts/#{$file}.woff2") format("woff2"),
        url("./fonts/#{$file}.woff") format("woff");
        font-weight: $weight;
        font-style: $style;
        font-display: swap;
    }
}

@mixin bg($size: "contain", $position: "center") {
    background-size: #{$size};
    background-position: #{$position};
    background-repeat: no-repeat;
}

@mixin container($max-width: "120rem", $paddings: "16px") {
    width: 100%;
    max-width: #{$max-width};
    margin: 0 auto;
    padding-right: #{$paddings};
    padding-left: #{$paddings};
}