.page1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img {
  width: 500px;
  height: 500px;
  background: url("img/img1.jpg");
}

.page2 {
  display: block;
}

.global {
  font-size: 15px;
}

@supports (-webkit-appearance:none) {
  .img {
    background: url("img/img1.webp");
  }
}

@media screen and (min-width: 900px) {
  article {
    padding: 1rem 3rem;
  }

  h2 {
    font-size: 228px;
  }

@supports (-webkit-appearance:none) {

}
}