.page1 {
    display: flex;
}
@media screen and (min-width: 900px) {
    article {
        padding: 1rem 3rem;
    }
}
.img {
    width: 500px;
    height: 500px;
    background: url("img/img1.jpg");
}
